@import "data.scss";

@mixin headerScale($sizeIndex) {
  $tertiary-font-size: map-get(nth($sizes, $sizeIndex), tertiary-font-size);

  #header-left > nav {
    font-size: $tertiary-font-size;
  }
  #header-left > nav > ul {
    padding: (($header-height - $tertiary-font-size)/2) 0;
  }
}



$header-height: 75px;

header {
  width: 100%;
  background-color: $primary-color-1;
  height: $header-height;
}
#header-left {
  margin-left: calc(10px + 2%);
  //padding: ($header-height/2) 0;
}
#header-left > nav {
  overflow: hidden;
  font-family: arial, sans-serif;
}
#header-left > nav > ul {
  width: 30%;
  display: flex;

  justify-content: end;

  list-style-type: none;
  //float: left;
  // display: inline;
  padding: 0;
  margin: 0;
}
#header-left > nav > ul > li {
  flex-grow: 1;
  flex-shrink: 1;
}
#header-left > nav > ul > li > a {
  text-decoration: none;
}

@media (min-width: 768px) {
  @include headerScale(1);
}
@media (max-width: 768px) {
  @include headerScale(2);
}
